

<div class="Container"> 

    <div class="text-center">
<div class="heading"> Add a New Employee</div>
<form asp-controller="Home" asp-action="AddEmployee" method="post" >
       <div >
        <label class="lable">Employee ID Number:</label>
        <input class="input" name="IdNumber" />
    </div>
    <br/>
    <div>
        <label  class="lable">First Name:</label>
        <input class="input" name="firstName" />
    </div>
    <br/>
    <div>
        <label  class="lable">Last Name:</label>
        <input class="input" name="lastName" />
    </div>
    <br/>
    <div>
           <label class="lable">Employee Type:</label>
  <select name="empyeeType" id="cars"  >
    <option  value="1">Full Time</option>
    <option    value="0">Contract</option>
    </select>
                @* <label class="lable">Employee Type: Enter 1 for <br/> Full time else 0 for contract</label>
        <input class="input" name="empyeeType" />*@
    </div>
    <br/>
    <div>
        <label class="lable">Phone Number:</label>
        <input class="input" name="phoneNumber" />
    </div>
    <br/>
    <div>
        <label class="lable">Email Address:</label>
        <input class="input" name="emailAddress" />
    </div>
    <br/>
    <div>
        <label class="lable">Mailing Address:</label>
        <input class="input" name="mailingAddress" />
    </div>
    <br/>

    <div>
        <label class="lable">Base Salary:</label>
        <input class="input" name="baseSalary" />
    </div>
    <br/>
    <div> 
     </div>
     <br/>
    <button  type="submit">Submit</button>
</form>

    </div>
     <div class="text-center">
    <div class="heading">Get Employee Detials</div>
    <form asp-controller="Home" asp-action="GetEmployee" method="post" >
    <div>
        <label class="lable">Employee ID Number:</label>
        
        <input class="input" name="IdNumber" />
    </div>  
    <br/>
     <button type="submit">submit</button>
</form> 
<br/>
<div class="bar"></div>
<br/> 

<div class="heading">Get Salary Details</div> 
<form asp-controller="Home" asp-action="GetSalary" method="post" >
    <div>
        <label class="lable">Employee ID Number:</label>
        
        <input class="input" name="IdNumber" />
    </div>
    <br/>
     <button type="submit">submit</button>
</form> 
<br/>
<div class="bar"></div>
<br/> 
<div class="heading">Get Employee Contact Number</div> 
<form asp-controller="Home" asp-action="GetPhoneNumber" method="post" >
    <div>
        <label class="lable">Employee ID Number:</label>
       
        <input class="input" name="IdNumber" />
    </div>
    <br/>
     <button type="submit">submit</button>
</form> 

    </div>
    </div>

     
    


